<!DOCTYPE html>
<html>
    <head>
        <title>Fire flames</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/blog.css">
        <link rel="icon" href="data:;base64,iVBORwOKGgo=">
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


        <header> 
            <nav>
                <div class="nav-wrapper black">
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right"> 
                        <li>
                            <ul id="dropdown2" class="dropdown-content">
                                <li><a href="index.html">Home<span class="badge"></span></a></li>
                                <li><a href="admin.html">Admin<span class="badge"></span></a></li>               
                                <li><a href="#!">one<span class="badge">1</span></a></li>
                                <li><a href="#!">two<span class="new badge">1</span></a></li>
                                <li><a href="#!">three</a></li>
                            </ul>
                           

                            <a class="btn dropdown-button" href="#!" data-activates="dropdown2">MENU<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </ul>
                </div>
            </nav>
        </header>

        <main>

            <div class="container">
                <h1 class="center-align">Fire Flames</h1>
            </div>

            <div class="row"> </div>

            <div class="col s12 main-container">

            </div>
        </main>

        <footer class="page-footer black">

            <div class="container">
                <p><a href="#">Back to the top</a></p>
            </div>

            <div class="footer-copyright">
            </div>
            @2016 Erik
            <div class="container">

            </div>
        </footer>

        <!--Import jQuery before materialize.js-->


        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/blog.js"></script>

        <script type="text/javascript" src="js/materialize.min.js"></script> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>

        <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
        <div class="blog-post">
        <h2 class="blog-post-title">{{title}}</h2>
        <p class="blog-post-meta"> At {{format created}} by {{authorEmail}}</p>
        <div>{{content}}</div>
        </div>
          {{/each}}
        </script>
    </body>
</html>